<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Desafio Zetta</title>
    </head>
    <body>

        <h1>Cadastro de Usuario:</h1>
        <form method="POST">
            <p>Nome: <input type="text" value="" name="nome"/></p>
            <p>CPF: <input type="text" value="" name="cpf"></p>
            <p>Data de Nascimento: <input type="date" value="" name="dataNascimento"></p>
            <p><label for="sexo">Sexo:</label>
                <select name="sexo" id="sexo">
                  <option value="M">M</option>
                  <option value="F">F</option>
                </select>
            </p>
            <p>Cargo: <input type="text" value="" name="cargo"/></p>
            
            <input type="submit" value="Salvar" />
            <input type="reset" value="Limpar" />

        </form>

    </body>
</html>